
/*
** Background and big fat line on the
**  bottom border of the header
*/
.RegisterWidget .Wt-header
{
  background-color: #96b183;
  border-bottom:2px solid black;
}

/*
** Negative values are red
**
*/
.RegisterWidget .negval
{
  color:red;
}

/* Account elipsis ... on the left */
.RegisterWidget .Wt-header      .Wt-tv-c4,
.RegisterWidget .Wt-tv-contents .Wt-tv-c4
{
  direction: rtl;
}

/* Alternating Row Colors */
.RegisterWidget .Wt-tableview .Wt-tv-contents.Wt-striped div.Wt-tv-c:nth-child(2n+1)
{
  background-color:#1c861333;
}

/* Thin black line underneath each row */
.RegisterWidget .Wt-tableview .Wt-tv-contents .Wt-tv-c
{
  border-bottom: 1px solid black;
}

/* Thin black line on the left */
.RegisterWidget .Wt-tableview .Wt-tv-contents .Wt-tv-c1
{
  border-left: 1px solid black;
}

/* Selected Editor Widget background highlight */
.RegisterWidget .Wt-tableview .Wt-tv-contents div.Wt-tv-c.selectable input
{
  background-color:#ffff007a;
}


